.invisivel{
    display:none;
  }
  .visivel{
    display:inline;
  }
  #principal {
  padding-bottom: 0;
  margin-bottom: 0;
}
  body {
    background-image: url('https://i.pinimg.com/736x/b0/a4/d7/b0a4d74cc0ffafa59e04b305813746be.jpg');
    background-size: cover; /* cobre toda a tela */
    background-repeat: no-repeat;
    background-position: center;
    overflow-y: auto; /* Remove barras de rolagem desnecessárias */
  }
  .inicial {
    text-align: center;
    background-color: #FFD1DC; /*mudei as cores para ficar com um visual mais fofo*/
    width: 150px;
    height: 200px;
    border: 15px solid #FF69B4;
    padding: 10px;
    margin: 20px;
    border-radius: 25px; /*arredondamento de bordas*/
  }
  .acertou {
    text-align: center;
    color: yellow;
    background-color: #FF69B4;
    width: 150px;
    height: 200px;
    border: 15px solid #DB7093;
    padding: 10px;
    margin: 20px;
    border-radius: 25px; /*arredondamento de bordas*/
  }
  .errou {
    text-align: center;
    color: white;
    background-color: #333;
    width: 150px;
    height: 200px;
    border: 15px solid #000;
    padding: 10px;
    margin: 20px;
    border-radius: 25px; /*arredondamento de bordas*/
  }
  #joganovamente, #reiniciar {
    background-color: #FF69B4; /*acrescentei novas formatações para estilizar os botões*/
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

  #joganovamente:hover, #reiniciar:hover {
    background-color: #DB7093;
}
h1{
  text-align: center;
}
p{
  text-align: center;
   background-color: #ffe3ed;
    width: 300px;
}
.subtitulo{
  display: flex;
  text-align: center;
  justify-content: center;

}
