.invisivel{
    display:none;
  }
  .visivel{
    display:inline;
  }
  body {
    background-color: #FFF0F5; /* Rosa bem clarinho */
  }
  .inicial {
    text-align: center;
    background-color: #FFD1DC; /*mudei as cores para ficar com um visual mais fofo*/
    width: 150px;
    height: 200px;
    border: 15px solid #FF69B4;
    padding: 10px;
    margin: 20px;
  }
  .acertou {
    text-align: center;
    color: yellow;
    background-color: #FF69B4;
    width: 150px;
    height: 200px;
    border: 15px solid #DB7093;
    padding: 10px;
    margin: 20px;
  }
  .errou {
    text-align: center;
    color: white;
    background-color: #333;
    width: 150px;
    height: 200px;
    border: 15px solid #000;
    padding: 10px;
    margin: 20px;
  }
  #joganovamente, #reiniciar {
    background-color: #FF69B4; /*acrescentei novas formatações para estilizar os botões*/
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

  #joganovamente:hover, #reiniciar:hover {
    background-color: #DB7093;
}